$font: 'Lalezar', cursive;
ul{
    list-style-type:  none;
}
.doneHolder{
    color:black;
    background-color:rgb(130, 219, 130);
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input[type=text]:disabled {
    margin:0 5px;
    background-color: rgb(201, 224, 253);
    border:1px solid rgb(0, 0, 0);

    
 }
.h5text{
    color: rgb(88, 46, 112);
}
.back{
    background-color: rgb(246, 246, 199); 
}
.inputstyle{
    background-color: white;
    border:5px solid rgb(236, 194, 4);
    margin:0 5px;
    font-family:$font

}
h1,h3,.btn{
    font-family:$font
}




